body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

button {
   
    background-color: blueviolet;
    padding: 16px;
    margin: 16px;
    border-radius: 16px;
    width: 74px;
     

}

#soki {
    display: flex;
    align-items: center;
    align-content:center; 
}



#soky {
    display: flex;
    font-size: 24px;
    align-items:center;
    justify-content: space-between;
}

#soke {
     font-size: 36px;
}
